<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <countdown-bar on-tick="$ctrl.getData()"></countdown-bar>
      <div class="x_title">
        <h2>All issues</h2>
        <div class="nav navbar-right panel_toolbox">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Filter data..." ng-model="filterText">
            <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
            <span class="sr-only">(filter)</span>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="x_content" style="overflow-x:auto;">
        <table class="table table-hover">
          <thead>
            <tr>
              <th ng-click="reverseOrder=!reverseOrder;
                orderField='submissionDate'"
                style="cursor:pointer">
                Submission
                <i class="fa"
                  ng-show="orderField==='submissionDate'"
                  ng-class="{'fa-chevron-up': !!reverseOrder,
                    'fa-chevron-down': !reverseOrder}"></i></th>

              <th ng-click="reverseOrder=!reverseOrder;
                orderField='customerName'"
                style="cursor:pointer">
                Customer
                <i class="fa"
                  ng-show="orderField==='customerName'"
                  ng-class="{'fa-chevron-up': !!reverseOrder,
                    'fa-chevron-down': !reverseOrder}"></i></th>

              <th ng-click="reverseOrder=!reverseOrder;
                orderField='customerEmail'"
                style="cursor:pointer">
                Email
                <i class="fa"
                  ng-show="orderField==='customerEmail'"
                  ng-class="{'fa-chevron-up': !!reverseOrder,
                    'fa-chevron-down': !reverseOrder}"></i></th>

              <th ng-click="reverseOrder=!reverseOrder;
                orderField='description'"
                style="cursor:pointer">
                Description
                <i class="fa"
                  ng-show="orderField==='description'"
                  ng-class="{'fa-chevron-up': !!reverseOrder,
                    'fa-chevron-down': !reverseOrder}"></i></th>

              <th ng-click="reverseOrder=!reverseOrder;
                orderField='openClosed'"
                style="cursor:pointer">
                Status
                <i class="fa"
                  ng-show="orderField==='openClosed'"
                  ng-class="{'fa-chevron-up': !!reverseOrder,
                    'fa-chevron-down': !reverseOrder}"></i></th>

              <th ng-click="reverseOrder=!reverseOrder;
                orderField='closedDate'"
                style="cursor:pointer">
                Closed at
                <i class="fa"
                  ng-show="orderField==='closedDate'"
                  ng-class="{'fa-chevron-up': !!reverseOrder,
                    'fa-chevron-down': !reverseOrder}"></i></th>

              <th ng-click="reverseOrder=!reverseOrder;
                orderField='employeeName'"
                style="cursor:pointer">
                Employee
                <i class="fa"
                  ng-show="orderField==='employeeName'"
                  ng-class="{'fa-chevron-up': !!reverseOrder,
                    'fa-chevron-down': !reverseOrder}"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in $ctrl.data | filter:filterText | orderBy:orderField:!!reverseOrder">
              <td>{{ row.submissionDate | date }}</td>
              <td>{{ row.customerName }}</td>
              <td>{{ row.customerEmail }}</td>
              <td>{{ row.description }}</td>
              <td>{{ row.openClosed }}</td>
              <td>{{ row.closedDate | date }}</td>
              <td>{{ row.employeeName }}</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
