<!-- top tiles -->
<div class="row tile_count">
  <top-tiles-component></top-tiles-component>
</div>
<!-- /top tiles -->

<div class="row">
  <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="x_panel tile fixed_height_320">
      <reported-issues-chart-component></reported-issues-chart-component>
    </div>
  </div>

  <div class="col-md-8 col-sm-8 col-xs-12">
    <div class="dashboard_graph">
      <paying-customers-chart-component></paying-customers-chart-component>
    </div>
  </div>
  <br />
</div>
