<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Dashboard</span></a>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile" style="overflow:auto">
      <div class="profile_pic">
        <img src="https://66.media.tumblr.com/avatar_836b9708b857_128.png" alt="..." class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2>John Doe</h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li ng-class="{ active: $ctrl.curr === 'dashboard.geo' }">
            <a ui-sref="dashboard.geo" ng-click="$ctrl.setCurrentSection('dashboard.geo')">
              <i class="fa fa-globe"></i> Geo distribution
            </a>
          </li>
          <li ng-class="{ active: $ctrl.curr === 'dashboard.metrics' }">
            <a ui-sref="dashboard.metrics" ng-click="$ctrl.setCurrentSection('dashboard.metrics')">
              <i class="fa fa-bar-chart"></i> Key metrics
            </a>
          </li>
          <li ng-class="{ active: $ctrl.curr === 'dashboard.data' }">
            <a ui-sref="dashboard.data" ng-click="$ctrl.setCurrentSection('dashboard.data')">
              <i class="fa fa-table"></i> Data view
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /sidebar menu -->
  </div>
</div>
