<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
  <span class="count_top">
    <i class="fa fa-github"></i> Total Issues
  </span>
  <div class="count">{{ $ctrl.issues.total.value }}</div>
  <span class="count_bottom">
    <i ng-class="{
      green: $ctrl.issues.total.diff <= 0,
      red: $ctrl.issues.total.diff > 0
    }">{{ $ctrl.issues.total.diff }}% </i>
    From last Week
  </span>
</div>

<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
  <span class="count_top">
    <i class="fa fa-folder-open"></i> Open Issues
  </span>
  <div class="count">{{ $ctrl.issues.open.value }}</div>
  <span class="count_bottom">
    <i ng-class="{
      green: $ctrl.issues.open.diff <= 0,
      red: $ctrl.issues.open.diff > 0
    }">{{ $ctrl.issues.open.diff }}% </i>
    From last Week
  </span>
</div>

<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
  <span class="count_top">
    <i class="fa fa-folder"></i> Closed Issues
  </span>
  <div class="count">{{ $ctrl.issues.closed.value }}</div>
  <span class="count_bottom">
    <i ng-class="{
      green: $ctrl.issues.closed.diff <= 0,
      red: $ctrl.issues.closed.diff > 0
    }">{{ $ctrl.issues.closed.diff }}% </i>
    From last Week
  </span>
</div>

<div class="col-md-3 col-sm-4 col-xs-6 tile_stats_count">
  <span class="count_top">
    <i class="fa fa-user"></i> Owned Issues
  </span>
  <div class="count">{{ $ctrl.issues.owned.value }}</div>
  <span class="count_bottom">
    <i ng-class="{
      green: $ctrl.issues.owned.diff <= 0,
      red: $ctrl.issues.owned.diff > 0
    }">{{ $ctrl.issues.owned.diff }}% </i>
    From last Week
  </span>
</div>
