countdown-bar {
  .progress.progress_sm {
    left: 0;
    margin-bottom: 0;
    height: 2px !important;
    position: absolute;
    top: 0;
    width: 100%;

    .progress-bar {
      -webkit-transition: width 1s linear;
      transition: width 1s linear;
    }
  }
}
